@using PagedList.Mvc
@model  PagedList.IPagedList<MVC.Models.mvcDepartmentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("AddOrEdit","Departments")">Create New</a>
</p>

@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <tr class="bg-success">
            <th>
                @*@Html.Label("Department ID")*@
                @Html.ActionLink("Department ID", "Index",
              new { sortBy = ViewBag.IDSortParm })
                @*@Html.DisplayNameFor(model => model.DeptID)*@
            </th>
            <th>
                @*@Html.Label("Department Name")*@
                @Html.ActionLink("Department Name", "Index",
              new { sortBy = ViewBag.DNameSortParm })
                @*@Html.DisplayNameFor(model => model.DeptName)*@
            </th>
            <th>
                @Html.Label("Department Description")
                @*@Html.DisplayNameFor(model => model.DeptDescription)*@
            </th>
            <th>
                @Html.Label("Options")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptDescription)
                </td>
                <td>
                    <a href="@Url.Action("AddOrEdit", "Departments", new { id = item.DeptID })">Edit</a>
                    <a onclick="Delete(@item.DeptID)"> Delete</a>
                </td>
            </tr>
        }
    </table>
    <script>
        document.write('<a href="' + document.referrer + '">Go Back</a>');
    </script>
}
else
{
    <p class="h4 text-danger font-weight-bold text-center">NO ITEMS MATCHED YOUR SEARCH QUERY!</p>
    @Html.ActionLink("Back to Full List", "Index", "Employees")
}

<hr />

<div class="text-center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortBy = Request["sortBy"] }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>

@section scripts{
    <script>
        function Delete (id){
            alertify.confirm('Employee management system', 'Are you sure to delete This record', function () {
                window.location.href = '@Url.Action("Delete","Departments")/' + id;
            }, null);

        }
    </script>
}