@model MVC.Models.mvcEmployeeModel
@{
    ViewBag.Title = "AddOrEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.EmpID)

        <table>
            <tr>
                <td>@Html.LabelFor(model => model.FirstName)</td>
                <td>@Html.EditorFor(model => model.FirstName)</td>
                <td>@Html.ValidationMessageFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.LastName)</td>
                <td>@Html.EditorFor(model => model.LastName)</td>
                <td>@Html.ValidationMessageFor(model => model.LastName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.NIC)</td>
                <td>@Html.EditorFor(model => model.NIC)</td>
                <td>@Html.ValidationMessageFor(model => model.NIC)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.MobileNum)</td>
                <td>@Html.EditorFor(model => model.MobileNum)</td>
                <td>@Html.ValidationMessageFor(model => model.MobileNum)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Address)</td>
                <td>@Html.EditorFor(model => model.Address)</td>
                <td>@Html.ValidationMessageFor(model => model.Address)</td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.EmployeeTypeID)</td>
                <td>
                    @Html.DropDownList("EmployeeTypeID",
                             (IEnumerable<SelectListItem>)ViewBag.list2,
                             "Select")
                </td>
                <td>@Html.ValidationMessageFor(model => model.EmployeeTypeID)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.DeptID)</td>
                <td>
                    @Html.DropDownList("DeptID",
                              (IEnumerable<SelectListItem>)ViewBag.list,
                              "Select")
                </td>
                <td>@Html.ValidationMessageFor(model => model.DeptID)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" class="btn button"></td>
                <td><input type="reset" value="Reset" class="btn button"></td>
                <td></td>
            </tr>
        </table>
    }
</div>